body{
    margin: 0;
    background-color: black;
    background-image: url("https://res.cloudinary.com/dofkj8qo6/image/upload/v1671317193/901108_1_ubdsn6.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

ul li a{
    color:white;
}
.armorBox{
    background-color: red;
}

.weapon-container-outer{
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
}