body{
    margin: 0;
    background-color: black;
    background-image: url("https://images5.alphacoders.com/901/901108.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

ul li a{
    color:white;
}
