body{
    margin: 0;
    background-color: black;
    background-image: url("https://images5.alphacoders.com/901/901108.png");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

ul li a{
    color:white;
}

.text-secondary{
    margin:2px ;
    margin-left: 5px;
}
